<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Page</h2>
    <p>Information about the blog website or blog creater goes here.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>